<h2 class="second-color mt-0 mb-3">Personal Informations</h2>
<form class="xl-mb">
  <div class="cv pt-3 px-3 mb-4">
  <div class="row">
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">First Name</label>
      <div class="input position-relative">
        <i class="fa fa-id-card"></i>
        <input type="text" placeholder="John">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Last Name</label>
      <div class="input position-relative">
        <i class="fa fa-id-card"></i>
        <input type="text" placeholder="Doe">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Phone 1</label>
      <div class="input position-relative">
        <i class="fa fa-phone"></i>
        <input type="text" placeholder="0123456789">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Phone 2</label>
      <div class="input position-relative">
        <i class="fa fa-phone"></i>
        <input type="text" placeholder="+2015542">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Email</label>
      <div class="input position-relative">
        <i class="fa fa-envelope"></i>
        <input type="text" placeholder="peter@w34.co">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Country</label>
      <div class="input position-relative">
        <!-- <i class="fa fa-envelope"></i> -->
        <select class="" name="" placeholder="Egypt">
          <option value="" selected disabled>Egypt</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 mb-4">
      <label for="" class="main-dark-color">Address</label>
      <div class="input position-relative">
        <i class="fa fa-map-marker"></i>
        <input type="text" placeholder="Alex, Egypt">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Date of birth</label>
      <div class="input position-relative">
        <i class="fa fa-calendar"></i>
        <input type="text" placeholder="1990 - 03 - 01">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Personal Website</label>
      <div class="input position-relative">
        <i class="fa fa-globe"></i>
        <input type="text" placeholder="http://website.com">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">LinkedIn</label>
      <div class="input position-relative">
        <i class="fa fa-linkedin"></i>
        <input type="text" placeholder="http://linkedin.com/johndoe">
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="" class="main-dark-color">Github / Behance</label>
      <div class="input position-relative">
        <i class="fa fa-github"></i>
        <input type="text" placeholder="http://github.com/johndoe">
      </div>
    </div>
  </div>
  </div>
  <div class="text-right">
    <button class="varcv-btn second-color"><span class="mr-2">Next</span> <i class="fa fa-angle-right"></i></button>
  </div>
</form>
