<h2 class="second-color mt-0 mb-3">Technical Skills</h2>
<form class="xl-mb">
  <div class="cv pt-3 px-3 mb-4">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Skill</label>
        <div class="input position-relative">
          <i class="devicons devicons-html5"></i>
          <input type="text" placeholder="HTML5">
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color d-block">Rating</label>
        <div class="rating d-inline-block mr-2 pt-1">
          <i class="fa fa-star second-color"></i>
          <i class="fa fa-star second-color"></i>
          <i class="fa fa-star second-color"></i>
          <i class="fa fa-star-half-o second-color"></i>
          <i class="fa fa-star-o second-color"></i>
        </div>
        <span class="main-dark-color">(75%)</span>
      </div>
      <div class="col-sm-12 mb-4">
        <label for="" class="main-dark-color"> <i class="fa fa-plus-circle mr-2"></i> Add Skill</label>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="varcv-btn second-color"><span class="mr-2">Next</span> <i class="fa fa-angle-right"></i></button>
  </div>
</form>
