<div class="header">
  <div class="wrapper ">
    <div class="container">
      <p>VAR CV</p>
      <h2 class="text-center pb-4 mb-0">Signup</h2>
    </div>
  </div>
</div>

<div class="bg-color">

  <div class="container">
    <div class="pt-5 pb-5">
      <form action="" >
        <div>
          <h3 class="text-center main-dark-color ">Signup</h3>
          <div class="position-relative d-inline-block">
            <input type="text" placeholder="Full Name" class="mb-2 pt-2 pb-2">
            <i class="fa fa-user"></i>
          </div>
          <div class="position-relative d-inline-block">
            <input type="text" placeholder="Email Address" class="mb-2 pt-2 pb-2">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="position-relative d-inline-block">
            <input type="password" placeholder="Password" class="mb-2 pt-2 pb-2">
            <i class="fa fa-lock"></i>
          </div>
          <div class="position-relative d-inline-block">
            <input type="password" placeholder="Confirm Password" class="mb-2 pt-2 pb-2">
            <i class="fa fa-lock"></i>
          </div>
          <button class="varcv-btn second-color border-0 mb-2  pt-2 pb-2">Signup</button>
          <a href="">Already member? Login Now!</a>
          <hr class="w-75">
          <button class="varcv-btn linkedin border-0 pt-2 pb-2"><i class="fa fa-linkedin-square mr-2"></i>Signup With Linkedin</button>

        </div>

      </form>
    </div>
  </div>
</div>
