<h2 class="second-color mt-0 mb-3">Courses</h2>
<form class="xl-mb">
  <div class="cv pt-3 px-3 mb-4">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Course</label>
        <div class="input position-relative">
          <i class="fa fa-id-book"></i>
          <input type="text" placeholder="Web Development">
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Date</label>
        <div class="row">
          <div class="col-sm-5">
            <div class="input position-relative">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="2004 - 05 ">
            </div>
          </div>
          <label class="col-sm-2 text-center main-dark-color">To</label>
          <div class="col-sm-5">
            <div class="input position-relative">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="2004 - 05 ">
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color"> <i class="fa fa-plus-circle mr-2"></i> Add Course</label>
      </div>
    </div>
    </div>
  <div class="text-right">
    <button class="varcv-btn second-color"><span class="mr-2">Next</span> <i class="fa fa-angle-right"></i></button>
  </div>
</form>
