<header class="main-color-bg">
  <nav>
    <div class="container pt-2 pb-2">
      <img src="assets/images/logo.png" alt="" class="logo">

    </div>
  </nav>
  <div class="row m-0">
    <div class="col- pt-5 pb-5 d-flex align-items-center justify-content-center">
      <div>
        <img src="assets/images/header-cv.png" class="mb-3" alt="">
        <h1>Create <br>your <span class="second-color">CV</span></h1>
      </div>

    </div>
    <div class="col- pt-5 pb-5 d-flex align-items-center justify-content-center">
      <div>
        <img src="assets/images/header-hire.png" class="mb-3" alt="">
        <h1>Hire A <br><span class="second-color">Developer</span></h1>
      </div>


    </div>
  </div>
  <img class="logo-light" src="assets/images/logo-light.png" alt="">
</header>
<section class="welcome pt-5">
  <p class="main-color text-center">Welcome To</p>
  <h1 class="main-color text-center">VAR <span class="second-color">CV</span></h1>
  <p class="main-color text-center pt-5 pb-5 text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
     sed do eiusmod tempor inidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <br>
     quis nostrud exer llamco laboris nisi ut aliquip ex ea commodo ..... Read More
</p>
<img src="assets/images/welcome.png" alt="">
</section>
<section class="how pt-5 pb-5">
  <div class="container">
    <p class="text-center main-color">How</p>
    <h1 class="text-center main-color mb-5">Does It Works <span class="second-color">?</span></h1>
    <div class="text-center mb-5">
      <button class="varcv-btn main-color">For Developers</button>
      <button class="varcv-btn second-color">For Companies</button>
    </div>
    <div class="row">
      <div class="col-sm-3 text-center position-relative">
        <span class="number">1</span>
        <img src="assets/images/blogging.png" alt="">
        <h3 class="main-color">Sign Up</h3>
        <p class="main-color">Lorem ipsum doconsectetur adipisicing et quasi arctecto beatae m est, qui dolor.</p>
      </div>
      <div class="col-sm-3 text-center position-relative">
        <span class="number">2</span>
        <img src="assets/images/contract.png" alt="">
        <h3 class="main-color">Tell us about yourself</h3>
        <p class="main-color">Lorem ipsum doconsectetur adipisicing et quasi arctecto beatae m est, qui dolor.</p>
      </div>
      <div class="col-sm-3 text-center position-relative">
        <span class="number">3</span>
        <img src="assets/images/resume.png" alt="">
        <h3 class="main-color">Get Unique CV</h3>
        <p class="main-color">Lorem ipsum doconsectetur adipisicing et quasi arctecto beatae m est, qui dolor.</p>
      </div>
      <div class="col-sm-3 text-center position-relative">
        <span class="number">4</span>
        <img src="assets/images/hired.png" alt="">
        <h3 class="main-color second-color">Get Hired</h3>
        <p class="main-color">Lorem ipsum doconsectetur adipisicing et quasi arctecto beatae m est, qui dolor.</p>
      </div>
    </div>
  </div>
</section>


<section class="topDevs  position-relative">
  <img src="assets/images/medal.png" alt="">
  <div class="container pt-5 pb-5">
    <p class="text-center">
      our
    </p>
    <h1 class="text-center">Top Developers</h1>
    <owl-carousel
         [options]="{items: 1,
            dots: false,
            nav: true,
            navText:['<i class=\'fa fa-angle-left\'></i>','<i class=\'fa fa-angle-right\'></i>'],
              startPosition:0
            }"
         [carouselClasses]="['owl-theme', 'row', 'sliding']">
         <div class="item pt-5 pb-5" >
           <div class="container">
             <div class="row justify-content-between align-items-center">
               <div class="col-">
                 <div class="row align-items-start">
                   <div class="line col-"></div>
                   <div class="col-">
                     <h2 class="second-color">Peter Wilson</h2>
                     <p>Senior Front-End Developer</p>
                     <div class="text-center">
                       <button class="varcv-btn ">View CV</button>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col- position-relative">

                 <div class="image" style="background-image:url('assets/images/me.jpg')">
                   <h2>1</h2>
                 </div>
                 <div class="shadow"></div>
               </div>
             </div>
           </div>
         </div>
         <div class="item pt-5 pb-5" >
           <div class="container">
             <div class="row justify-content-between align-items-center">
               <div class="col-">
                 <div class="row align-items-start">
                   <div class="line col-"></div>
                   <div class="col-">
                     <h2 class="second-color">Peter Wilson</h2>
                     <p>Senior Front-End Developer</p>
                     <div class="text-center">
                       <button class="varcv-btn ">View CV</button>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col- position-relative">

                 <div class="image" style="background-image:url('assets/images/me.jpg')">
                   <h2>2</h2>
                 </div>
                 <div class="shadow"></div>
               </div>
             </div>
           </div>
         </div>




     </owl-carousel>
  </div>
</section>

<section class="cvs pt-5">
  <div class="container">
    <p class="text-center main-dark-color">Our</p>
    <h1 class="text-center main-dark-color">Updated Templates</h1>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <owl-carousel
             [options]="{items: 1,
                dots: false,
                nav: true,
                navText:['<i class=\'fa fa-angle-left\'></i>','<i class=\'fa fa-angle-right\'></i>'],
                stagePadding:100,
                startPosition:1,
                margin:10}"
             [carouselClasses]="['owl-theme', 'row', 'sliding']">
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>

         </owl-carousel>
      </div>
    </div>
  </div>
</section>


<section class="stats pt-5">

  <div class="container ">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="row mb-5">
          <div class="col">
            <div class="record">
              <div>
                <p>200</p>
                <p>Developers</p>
              </div>
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="col">
            <div class="record">
              <div>
                <p>10</p>
                <p>Companies</p>
              </div>
              <i class="fa fa-briefcase"></i>
            </div>
          </div>
          <div class="col">
            <div class="record">
              <div>
                <p>200</p>
                <p>Templates</p>
              </div>
              <i class="fa fa-file-text-o"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center main-dark-color">What our users</p>
    <h1 class="text-center main-dark-color">SAY ABOUT VAR <span class="second-color">CV</span></h1>
    <p class="text-center main-dark-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="feedback">
      <owl-carousel
           [options]="{items: 1, dots: false, nav: true, navText:['<i class=\'fa fa-angle-left\'></i>','<i class=\'fa fa-angle-right\'></i>']}"
           [carouselClasses]="['owl-theme', 'row', 'sliding']">
           <div class="item pt-5 pb-5" >
               <div class="image" style="background-image:url('assets/images/me.png')"></div>
               <h3 class="text-center main-dark-color">Peter Wilson</h3>
               <h4 class="text-center second-color mb-5">Senior Fornt End Developer</h4>
               <h3 class="text-center main-light-color">
                 “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ”

               </h3>
           </div>

       </owl-carousel>
    </div>

  </div>
</section>
<section class="newsteller second-color-bg pt-5 pb-5">
  <div class="second-color-overlay overlay"></div>
  <div class="container">
    <h1 class="mb-5">Newsteller</h1>
    <div class="row">
      <form class="col-sm-6 offset-sm-3">
        <input type="text" name="" class="mb-3" placeholder="Email Address" value="">
        <button type="button" name="button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
<footer class="pt-5 ">
  <div class="container pb-5">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="mb-5">ABOUT</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eismod tempor incididunt ut labore et dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exation ullamco laboris nisi ut aliquip ex ea commodo consquat. Duis aute irure dolor in reprnderit in voluptate velit
        </p>
        <ul>
          <li class="mr-3"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="mr-3"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h3 class="mb-5">USEFUL LINKS</h3>
        <div class="row">
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn HTML</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn CSS3</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn JavaScript</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn AngularJs</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn PHP</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Laravel</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Angular 4</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn React Native</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn MySQL</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn APS.NET</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn NodeJs</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Symphony</a></p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright pt-2 pb-2">
    <div class="container d-table">
      <img class="d-table-cell" src="assets/images/logo.png" alt="">
      <p class="d-table-cell">Copyright (c) 2017 Copyright <span class="second-color">VARCV</span> All Rights Reserved.</p>
    </div>
  </div>
</footer>
