<section class="cvs pt-5">
  <div class="container">
    <p class="text-center main-dark-color">Our</p>
    <h1 class="text-center main-dark-color">Updated Templates</h1>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <owl-carousel
             [options]="{items: 1,
                dots: false,
                nav: true,
                navText:['<i class=\'fa fa-angle-left\'></i>','<i class=\'fa fa-angle-right\'></i>'],
                stagePadding:100,
                startPosition:1,
                margin:10}"
             [carouselClasses]="['owl-theme', 'row', 'sliding']">
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>
             <div class="item pt-5 pb-5" >
                 <img src="assets/images/cv.jpg"/>
             </div>

         </owl-carousel>
      </div>
    </div>
  </div>
</section>


<section class="stats pt-5">

  <div class="container ">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="row mb-5">
          <div class="col">
            <div class="record">
              <div>
                <p>200</p>
                <p>Developers</p>
              </div>
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="col">
            <div class="record">
              <div>
                <p>10</p>
                <p>Companies</p>
              </div>
              <i class="fa fa-briefcase"></i>
            </div>
          </div>
          <div class="col">
            <div class="record">
              <div>
                <p>200</p>
                <p>Templates</p>
              </div>
              <i class="fa fa-file-text-o"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center main-dark-color">What our users</p>
    <h1 class="text-center main-dark-color">SAY ABOUT VAR <span class="second-color">CV</span></h1>
    <p class="text-center main-dark-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="feedback">
      <owl-carousel
           [options]="{items: 1, dots: false, nav: true, navText:['<i class=\'fa fa-angle-left\'></i>','<i class=\'fa fa-angle-right\'></i>']}"
           [carouselClasses]="['owl-theme', 'row', 'sliding']">
           <div class="item pt-5 pb-5" >
               <div class="image" style="background-image:url('assets/images/me.png')"></div>
               <h3 class="text-center main-dark-color">Peter Wilson</h3>
               <h4 class="text-center second-color mb-5">Senior Fornt End Developer</h4>
               <h3 class="text-center main-light-color">
                 “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ”

               </h3>
           </div>

       </owl-carousel>
    </div>

  </div>
</section>
<section class="newsteller second-color-bg pt-5 pb-5">
  <div class="second-color-overlay overlay"></div>
  <div class="container">
    <h1 class="mb-5">Newsteller</h1>
    <div class="row">
      <form class="col-sm-6 offset-sm-3">
        <input type="text" name="" class="mb-3" placeholder="Email Address" value="">
        <button type="button" name="button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
<footer class="pt-5 ">
  <div class="container pb-5">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="mb-5">ABOUT</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eismod tempor incididunt ut labore et dolor magna aliqua. Ut enim ad minim veniam, quis nostrud exation ullamco laboris nisi ut aliquip ex ea commodo consquat. Duis aute irure dolor in reprnderit in voluptate velit
        </p>
        <ul>
          <li class="mr-3"><a href=""><i class="fa fa-facebook"></i></a></li>
          <li class="mr-3"><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-8">
        <h3 class="mb-5">USEFUL LINKS</h3>
        <div class="row">
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn HTML</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn CSS3</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn JavaScript</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn AngularJs</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn PHP</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Laravel</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Angular 4</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn React Native</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn MySQL</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn APS.NET</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn NodeJs</a></p></div>
          <div class="col-sm-3"><p><i class="fa fa-angle-right mr-2 second-color"></i><a href="">Learn Symphony</a></p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright pt-2 pb-2">
    <div class="container d-table">
      <img class="d-table-cell" src="assets/images/logo.png" alt="">
      <p class="d-table-cell">Copyright (c) 2017 Copyright <span class="second-color">VARCV</span> All Rights Reserved.</p>
    </div>
  </div>
</footer>
