<h2 class="second-color mt-0 mb-3">Languages</h2>
<form class="xl-mb">
  <div class="cv pt-3 px-3 mb-4">
    <div class="row">

      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Language</label>
        <div class="input position-relative">
          <select class="" name="" placeholder="Egypt">
            <option value="" selected disabled>Arabic</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Level</label>
        <div class="input position-relative">
          <select class="" name="" placeholder="Egypt">
            <option value="" selected disabled>Beginner</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Language</label>
        <div class="input position-relative">
          <select class="" name="" placeholder="Egypt">
            <option value="" selected disabled>English</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color">Level</label>
        <div class="input position-relative">
          <select class="" name="" placeholder="Egypt">
            <option value="" selected disabled>Beginner</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 mb-4">
        <label for="" class="main-dark-color"> <i class="fa fa-plus-circle mr-2"></i> Add Language</label>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button class="varcv-btn second-color"><span class="mr-2">Next</span> <i class="fa fa-angle-right"></i></button>
  </div>
</form>
